html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-Black.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "MontserratAlternates";
    src: url("fonts/MontserratAlternates-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

// colors:
$bg_1: white;
$red_bg: #FC2F20;
$green_bg: #9CFC50;
$orange_bg: #FE7F20;
$dark_font: #030203;
$light_font: white;


.page {

    margin: 0;
    width: 100vw;
}

header, main section, nav {
    width: 84vw;
    padding-left: 8vw;
    padding-right: 8vw;
}

header, main, nav, footer, button {
    font-family: "MontserratAlternates";
}

button {
    color: $dark_font;
    cursor: pointer;
    display: inline-flex;
    border: none;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    font-weight: 600;
    align-items: center;
    &:hover {
        transform: scale(0.9);
    }
    &:active {
        transform: scale(1);
    }
}

.fx {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: $red_bg url("images/background2.png") no-repeat center;
    background-size: contain;
    height: 50vw;
    color: $light_font;
    h1 {
        font-size: 10vw;
        font-weight: 900;
        margin: 12vw 0 1.65vw -0.5vw;
    }
    p {
        font-weight: bold;
        font-size: 1.65vw;
        width: 33vw;
        margin: 1.65vw 0 6vw;
    }
    button {
        background-color: $green_bg;
        width: 17.5vw;
        padding: 1.45vw;
        font-size: 1.45vw;
        justify-content: center;
        &:hover {
            background-color: $orange_bg;
        }
        &:active {
            background-color: $green_bg;
        }
    }
}

main {
    background-color: white;
    #about {
        h1, p {
            margin: 0;
            padding: 0.65vw 12vw;
            text-align: center;
        }
    }
    #sale {
        background-color: #9CFC50;
    }
    .sale {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &__product {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1.35vw;
            width: 30%;
            img {
                width: 10vw;
            }
            button {
                padding: 1vw 3vw;
                background-color: $orange_bg;
                &:hover {
                    background-color: $red_bg;
                }
                &:active {
                    background-color: $orange_bg;
                }
            }
        }
    }
    #rules {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        background: $bg_1 url("images/bg-grid2.png") no-repeat center;
        background-size: contain;
        img {
            width: 33%;
            padding: 1.35vw 0 1.35vw 6vw;
        };
    }
    section {
        padding-top: 6.15vw;
        padding-bottom: 6.15vw;
        h1 {
            font-weight: 900;
            font-size: 1.75vw;
        }
        h2 {
            font-weight: 600;
            font-size: 1vw;
        }
        p, button {
            font-size: 1.15vw;
        }
    }
}

footer {
    background-color: #333;
    .menu__elements {
        width: 100%;
    }
    .menu__item a {
        color: $light_font;
    }
    
}

.menu {
    
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
    &__elements {
        &--top {
            width: 23.5vw;
            .menu__item a {
                font-weight: 600;
            }
        }
        display: inline-flex;
        justify-content: space-between;
        margin: 0;
        padding: 2.4vw 0;
    }
    &__logo, &__item {
        font-size: 1vw;
    }
    &__logo {
        background-color: transparent;
    }
    &__item {
        list-style: none;
        a {
            text-decoration: none;
            color: $dark_font;
        }
        &:hover {
            transform: scale(0.9);
        }
    }
}